@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-image {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.border-green-custom {
  border-color: #5FBB01; 
}



.bg-green-custom {
  background-color: #5FBB01;
}

.bg-green-custom:hover {
  background-color: #4C9502;
}


.router-view-container {
  padding-top: 50px;
}