@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-image {
  width: 100%;
  max-width: 700px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .carousel-image {
      max-width: 100%;
      aspect-ratio: 16/9;
  }
}

.border-green-custom {
  border-color: #5FBB01; 
}



.bg-green-custom {
  background-color: #5FBB01;
}

.bg-green-custom:hover {
  background-color: #4C9502;
}


.router-view-container {
  padding-top: 50px;
}