@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-image {
  width: 800px;
  height: 300px;
  object-fit: cover;
}