.navbar-toggler {
    border: none;
    padding: 0.25rem 0.5rem;
  }
  
  .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .navbar-nav .dropdown-menu {
    max-width: 100%;
  }
  
  .navbar-nav .dropdown-toggle::after {
    display: none;
  }
  
  @media (max-width: 992px) {
    .navbar-toggler {
      margin-left: auto;
      width: auto;
    }
  }
  
  .bg-deep-blue {
    background-color: #04548c !important;
  }